:root {
  --textColor: rgb(200, 200, 200);
  --spotifyGreen: rgb(30, 160, 60);
  --grey1: rgb(30, 30, 30);
  --grey2: rgb(44,46,48);
}

* {
  box-sizing: border-box;
}

/* Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.  */
html, body, figure {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

/* Default font and size */
body {
  background: var(--grey1);
  /* default text */
  font-family: sans-serif;
  font-size: 1.1rem;
  color: var(--textColor);
}

text {
  fill: var(--textColor);
  text-anchor: middle;
}

p {
  width: 85%;
  margin: 30px auto;
}

/* Top Navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(20,20,20);
  height: 60px;
}

.topnav ul {
  margin: 0;
  padding-left: 0;
  padding-right: 100px;
  line-height: 60px;
}

.topnav h1 {
  margin: 0;
  padding-left: 100px;
}

.topnav ul a {
  float: right;
  color: var(--textColor);
  text-align: center;
  margin-right: 50px;
  text-decoration: none;
  font-size: 17px;
}

.topnav ul a:first-child {
  float:left;
}

.topnav a:hover, .topnav a.tooltip.expand:hover:after, .topnav a.tooltip.expand:hover:before {
  color: white;
}

.title {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  z-index:1;
  height: 50px;
  top: 0;
  margin:0;
  padding: 10px 100px;
  background-color: var(--grey1);
  border-width:1px;  
  border-bottom-style:solid;
}

/* SVG plots */
svg {
  display: block;
  padding: 30px;
  margin: auto;
}

.axis line {
  stroke: var(--textColor);
}

.axis path {
  stroke: var(--textColor);
}

.focus {
  cursor: move;
  pointer-events: all;
}

.area {
  fill: var(--grey2);
  clip-path: url(#clip);
}

.zoom {
  fill: none;
}

.info {
  pointer-events: none;
}

.plot-background {
  fill: none;
}

/* Should all circles be grouped together? */
/* Only if all circles should share a property */
.song_circle {
  fill: var(--spotifyGreen);
  cursor: auto;
}

rect.info {
  fill: #01531d;
  opacity: 0.9;
}

text.info {
  font-size: 12px;
}

/* For the bubble viz */
.slider_container {
  width: 80%;
  margin: auto;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover, .slider.tooltip.expand:hover:after, .slider.tooltip.expand:hover:before {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  appearance: slider-horizontal;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

#slider_year1 {
  background: var(--spotifyGreen);
}

#slider_year2 {
  /* background: #7c2620 */
  background: #fe5c5c;
}

text#text_year1 {
  color: var(--spotifyGreen);
}

text#text_year2 {
  color: #fe5c5c;
}

circle.year1 {
  fill: var(--spotifyGreen);
}

circle.year2 {
  fill: #fe5c5c;
}

line.y_line {
  /* stroke:rgb(255,0,0) */
  stroke-width: 1;
  stroke: var(--textColor);
}

/* setup tooltips */
.tooltip {
  position: relative;
}
.tooltip:before {
  display: block;
  opacity: 0;
  pointer-events: none;
  background: #3c3c3c;
  border-radius: 2px;
  color: #444;
  font-size: 14px;
  padding: 6px 10px;
  white-space: nowrap;
}
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  content: "";
}

.tooltip .tooltiptext {
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}

/* expand */
.tooltip.expand:before {
  transform: scale3d(0.2, 0.2, 1);
  transition: all 0.2s ease-in-out;
}
.tooltip.expand:after {
  transform: translate3d(0, 6px, 0);
  transition: all 0.1s ease-in-out;
}
.tooltip.expand:hover, .tooltip.expand:hover:after, .tooltip.expand:hover:before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.tooltip.expand:hover:after {
  transition: all 0.2s 0.1s ease-in-out;
}

.feature_label:hover .tooltip, .feature_label.tooltip.expand:hover:before .tooltip, .feature_label.tooltip.expand:hover:after .tooltip {
  display: block;
}

/*# sourceMappingURL=style.css.map */
